<div class="col-md-6 mx-auto shadow p-3">
    <form method="post" action="/cadastro">
        <fieldset>
            <legend>Cadastro de Produto</legend>

            <label>DESCRIÇÃO</label>
            <input name="descricao" type="text" class="form-control">

            <label>PREÇO</label>
            <input name="preco" type="text" class="form-control">

            <label>ESTOQUE</label>
            <input name="estoque" type="number" class="form-control">

            <button type="submit" class="btn btn-success mt-3">Salvar</button>
        </fieldset>
    </form>
</div>