<div class="w-50 m-auto shadow p-3">
    <form method="post" action="/produto/salvar">
        <fieldset>
            <legend>CADASTRO DE PRODUTO</legend>
            <label>DESCRIÇÃO</label>
            <input type="text" name="descricao" required class="form-control">
            <label>PREÇO</label>
            <input type="number" name="preco" required class="form-control">
            <label>ESTOQUE</label>
            <input type="number" name="estoque" required class="form-control">
            <button type="submit" class="btn btn-success mt-2">Salvar</button>
        </fieldset>
    </form>
</div>