<div class="col-md-6 mx-auto">
    <table class="table table-hover">
        <tr>
            <td>DESCRIÇÃO</td>
            <td>{{produto.descricao}}</td>
        </tr>
        <tr>
            <td>PREÇO</td>
            <td>{{produto.preco}}</td>
        </tr>
        <tr>
            <td>ESTOQUE</td>
            <td>{{produto.estoque}}</td>
        </tr>
        <tr>
            <td>STATUS</td>
            <td>{{produto.status}}</td>
        </tr>
    </table>
</div>