<div class="col-md-5 mx-auto">
<form method="post" action="/usuario/salvar">
    <fieldset>
        <legend>CADASTRO DE USUÁRIO</legend>
        <label>NOME DE USUÁRIO</label>
        <input class="form-control" type="text" name="username">
        <label>SENHA</label>
        <input class="form-control" type="password" name="senha">
        <label>CATEGORIA</label>
        <select class="form-select" name="categoria">
            <option value="1">ADMIN</option>
            <option value="0">PADRÃO</option>
        </select>
        <label>PESSOA</label>
        <select name="pessoa_id" class="form-select">
            {{#each pessoas}}
                <option value="{{id}}">{{nome}}</option>
            {{/each}}
        </select>
        <button class="btn btn-success" type="submit">SALVAR</button>
    </fieldset>
</form>
</div>